<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body >
    <div class="container-fluid mt-4">
        <header>
            <nav class="navbar navbar-expand-lg navbar-primary bg-light">
                <a class="navbar-brand" href="#">DATA-viz</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('upload_file') }}">Upload File</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('visualize_data') }}">Visualize Data</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('data_upload_history') }}">Data Upload History</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('settings') }}">Settings</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('help_page') }}">Help</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('terms') }}">Terms of Service</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('privacy') }}">Privacy Policy</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <section>
            <div class="container-fluid mt-5 bg-light">
                <div class="row">
                    <div class="col-md-16">
                        <h1 style="text-decoration: underline;" >Welcome to the Home Page</h1>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>